.DS_Store
Thumbs.db
node_modules/
npm-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log
project.private.config.json
miniprogram_npm/
*.wxapkg
.vscode/
.idea/
dist/
build/
out/
temp/
.tmp/
.cache/
coverage/
*.swp
*.swo
